# An√°lise de dados referente a taxa de desemprego e fatores socioecon√¥micos no Brasil entre 2012 e 2024

## üîπ 1¬∞ Etapa: carregamento e tratamento dos dados com aux√≠lio da biblioteca Pandas

Os seguintes arquivos ser√£o carregados e tratados:
- Taxa de desemprego (IBGEPnad Cont√≠nua).csv: apresenta dados sobre a taxa de desemprego geral ao longo dos trimestres de 2012 a 2024 por regi√£o do Brasil.
- Taxa de desemprego - ensino fundamental completo ou equivalente (IBGEPnad Cont√≠nua).csv: apresenta dados sobre a taxa de desemprego para pessoas com ensino fundamental completo ou equivalente ao longo dos trimestres de 2012 a 2024 por regi√£o do Brasil.
- Taxa de desemprego - ensino fundamental incompleto ou equivalente (IBGEPnad Cont√≠nua).csv: apresenta dados sobre a taxa de desemprego para pessoas com ensino fundamental incompleto ou equivalente ao longo dos trimestres de 2012 a 2024 por regi√£o do Brasil.
- Taxa de desemprego - ensino m√©dio completo ou equivalente (IBGEPnad Cont√≠nua).csv: apresenta dados sobre a taxa de desemprego para pessoas com ensino m√©dio completo ou equivalente ao longo dos trimestres de 2012 a 2024 por regi√£o do Brasil.
- Taxa de desemprego - ensino m√©dio incompleto ou equivalente (IBGEPnad Cont√≠nua).csv: apresenta dados sobre a taxa de desemprego para pessoas com ensino m√©dio incompleto ou equivalente ao longo dos trimestres de 2012 a 2024 por regi√£o do Brasil.
- Taxa de desemprego - ensino superior completo ou equivalente (IBGEPnad Cont√≠nua).csv: apresenta dados sobre a taxa de desemprego para pessoas com ensino superior completo ou equivalente ao longo dos trimestres de 2012 a 2024 por regi√£o do Brasil.
- Taxa de desemprego - ensino superior incompleto ou equivalente (IBGEPnad Cont√≠nua).csv: apresenta dados sobre a taxa de desemprego para pessoas com ensino superior incompleto ou equivalente ao longo dos trimestres de 2012 a 2024 por regi√£o do Brasil.
- Taxa de desemprego - sem instru√ß√£o ou equivalente (IBGEPnad Cont√≠nua).csv: apresenta dados sobre a taxa de desemprego para pessoas sem instru√ß√£o equivalente ao longo dos trimestres de 2012 a 2024 por regi√£o do Brasil.

In [10]:
import pandas as pd
from IPython.display import display

# Carregamento dos dados dos arquivos CSV
arquivos = {
    'desemprego_geral': 'data/Taxa de desemprego (IBGEPnad Cont√≠nua).csv',
    'desemprego_fundamental_completo': 'data/Taxa de desemprego - ensino fundamental completo ou equivalente (IBGEPnad Cont√≠nua).csv',
    'desemprego_fundamental_incompleto': 'data/Taxa de desemprego - ensino fundamental incompleto ou equivalente (IBGEPnad Cont√≠nua).csv',
    'desemprego_medio_completo': 'data/Taxa de desemprego - ensino m√©dio completo ou equivalente (IBGEPnad Cont√≠nua).csv',
    'desemprego_medio_incompleto': 'data/Taxa de desemprego - ensino m√©dio incompleto ou equivalente (IBGEPnad Cont√≠nua).csv',
    'desemprego_superior_completo': 'data/Taxa de desemprego - ensino superior completo ou equivalente (IBGEPnad Cont√≠nua).csv',
    'desemprego_superior_incompleto': 'data/Taxa de desemprego - ensino superior incompleto ou equivalente (IBGEPnad Cont√≠nua).csv',
    'desemprego_sem_instrucao': 'data/Taxa de desemprego - sem instru√ß√£o ou equivalente (IBGEPnad Cont√≠nua).csv'
}

# Inicializar dicion√°rio para armazenar DataFrames
dados = {}

# Convers√£o dos trimestres por extenso
trimestre_mapeamento = {
    'T1': '1¬∞ Trimestre',
    'T2': '2¬∞ Trimestre',
    'T3': '3¬∞ Trimestre',
    'T4': '4¬∞ Trimestre'
}

# Loop para ler e tratar os arquivos
for chave, caminho in arquivos.items():
    df = pd.read_csv(caminho, skiprows=1)
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]  # Remove colunas 'Unnamed', geradas por conta da primeira linha em cada CSV

    # Corrigir nomes dos trimestres
    for t_antigo, t_novo in trimestre_mapeamento.items():
        df.columns = df.columns.str.replace(t_antigo, t_novo)

    dados[chave] = df  # Salvar no dicion√°rio

# Mostrar todos os DataFrames
for chave, df in dados.items():
    print(f'‚ñ∂Ô∏è Dados: {chave}')
    display(df.head())

‚ñ∂Ô∏è Dados: desemprego_geral

,Sigla,C√≥digo,Regi√£o,2012 1¬∞ Trimestre,2012 2¬∞ Trimestre,2012 3¬∞ Trimestre,2012 4¬∞ Trimestre,2013 1¬∞ Trimestre,2013 2¬∞ Trimestre,2013 3¬∞ Trimestre,...,2022 3¬∞ Trimestre,2022 4¬∞ Trimestre,2023 1¬∞ Trimestre,2023 2¬∞ Trimestre,2023 3¬∞ Trimestre,2023 4¬∞ Trimestre,2024 1¬∞ Trimestre,2024 2¬∞ Trimestre,2024 3¬∞ Trimestre,2024 4¬∞ Trimestre
0,CO,5,Regi√£o Centro-oeste,7.1,6.3,5.7,5.8,6.8,6.0,5.6,...,6.5,6.2,7.0,5.7,5.5,5.8,6.1,5.4,4.9,5.0
1,N,1,Regi√£o Norte,9.0,8.3,7.9,7.4,8.7,8.4,7.6,...,8.2,8.1,9.1,8.1,7.7,7.7,8.2,6.9,6.6,6.9
2,NE,2,Regi√£o Nordeste,9.8,9.7,9.4,9.4,11.1,10.1,9.1,...,12.0,10.9,12.2,11.3,10.8,10.4,11.1,9.4,8.7,8.6
3,S,4,Regi√£o Sul,5.2,4.9,4.3,4.0,4.8,4.3,4.2,...,5.2,4.5,5.0,4.7,4.6,4.5,4.9,4.7,4.1,3.6
4,SE,3,Regi√£o Sudeste,8.0,7.5,6.9,6.7,7.7,7.3,7.1,...,8.7,7.9,8.6,7.9,7.5,7.1,7.6,6.6,6.2,5.9

‚ñ∂Ô∏è Dados: desemprego_fundamental_completo

,Sigla,C√≥digo,Regi√£o,2012 1¬∞ Trimestre,2012 2¬∞ Trimestre,2012 3¬∞ Trimestre,2012 4¬∞ Trimestre,2013 1¬∞ Trimestre,2013 2¬∞ Trimestre,2013 3¬∞ Trimestre,...,2022 3¬∞ Trimestre,2022 4¬∞ Trimestre,2023 1¬∞ Trimestre,2023 2¬∞ Trimestre,2023 3¬∞ Trimestre,2023 4¬∞ Trimestre,2024 1¬∞ Trimestre,2024 2¬∞ Trimestre,2024 3¬∞ Trimestre,2024 4¬∞ Trimestre
0,CO,5,Regi√£o Centro-oeste,8.7,7.4,6.0,5.7,7.8,7.1,5.6,...,7.6,7.5,8.2,7.2,8.2,7.6,7.1,7.5,7.7,7.1
1,N,1,Regi√£o Norte,8.7,9.2,8.1,7.7,8.7,9.4,8.3,...,10.2,8.3,9.4,8.2,8.4,9.1,8.4,7.7,5.7,7.2
2,NE,2,Regi√£o Nordeste,10.5,10.6,11.0,11.0,10.4,12.0,9.9,...,13.3,13.4,13.4,13.9,13.7,12.3,12.3,11.0,9.5,9.7
3,S,4,Regi√£o Sul,6.2,6.1,4.8,4.6,5.0,4.9,4.6,...,7.6,6.0,7.0,6.2,6.2,6.3,6.8,6.6,6.2,4.4
4,SE,3,Regi√£o Sudeste,8.9,8.2,7.6,7.5,8.7,7.9,8.0,...,10.1,9.2,10.5,9.8,10.2,9.4,9.2,7.8,8.6,7.8

‚ñ∂Ô∏è Dados: desemprego_fundamental_incompleto

,Sigla,C√≥digo,Regi√£o,2012 1¬∞ Trimestre,2012 2¬∞ Trimestre,2012 3¬∞ Trimestre,2012 4¬∞ Trimestre,2013 1¬∞ Trimestre,2013 2¬∞ Trimestre,2013 3¬∞ Trimestre,...,2022 3¬∞ Trimestre,2022 4¬∞ Trimestre,2023 1¬∞ Trimestre,2023 2¬∞ Trimestre,2023 3¬∞ Trimestre,2023 4¬∞ Trimestre,2024 1¬∞ Trimestre,2024 2¬∞ Trimestre,2024 3¬∞ Trimestre,2024 4¬∞ Trimestre
0,CO,5,Regi√£o Centro-oeste,5.9,5.1,4.7,5.3,6.0,5.2,5.0,...,6.7,6.0,7.1,4.8,5.5,6.4,5.7,6.0,5.2,5.2
1,N,1,Regi√£o Norte,7.1,5.9,5.7,5.3,5.7,6.1,5.8,...,5.5,6.0,6.4,6.0,5.9,6.7,6.3,5.0,5.4,5.6
2,NE,2,Regi√£o Nordeste,8.6,8.6,8.6,8.4,9.8,9.0,8.1,...,11.9,11.2,11.9,11.7,10.9,10.6,10.2,9.1,7.9,8.6
3,S,4,Regi√£o Sul,4.5,4.4,4.1,3.7,4.2,3.9,3.5,...,5.6,5.0,4.7,4.3,4.4,4.5,4.9,4.7,4.1,4.2
4,SE,3,Regi√£o Sudeste,6.8,6.5,6.0,6.1,6.5,6.3,5.6,...,9.0,9.0,8.8,7.7,7.6,7.9,7.9,6.7,6.1,6.2

‚ñ∂Ô∏è Dados: desemprego_medio_completo

,Sigla,C√≥digo,Regi√£o,2012 1¬∞ Trimestre,2012 2¬∞ Trimestre,2012 3¬∞ Trimestre,2012 4¬∞ Trimestre,2013 1¬∞ Trimestre,2013 2¬∞ Trimestre,2013 3¬∞ Trimestre,...,2022 3¬∞ Trimestre,2022 4¬∞ Trimestre,2023 1¬∞ Trimestre,2023 2¬∞ Trimestre,2023 3¬∞ Trimestre,2023 4¬∞ Trimestre,2024 1¬∞ Trimestre,2024 2¬∞ Trimestre,2024 3¬∞ Trimestre,2024 4¬∞ Trimestre
0,CO,5,Regi√£o Centro-oeste,8.0,6.8,6.3,6.1,6.9,6.1,5.7,...,6.7,6.3,6.8,6.4,5.9,5.9,6.4,5.0,4.7,5.0
1,N,1,Regi√£o Norte,11.6,10.8,10.7,9.9,11.8,10.7,9.6,...,10.2,9.6,11.4,10.2,9.4,8.6,10.0,8.1,7.7,8.1
2,NE,2,Regi√£o Nordeste,12.5,12.4,11.2,11.0,13.4,12.1,11.0,...,13.3,11.7,14.4,12.9,11.9,11.6,13.2,11.2,9.9,9.7
3,S,4,Regi√£o Sul,5.1,4.8,4.5,4.0,5.4,4.8,4.3,...,5.2,4.3,5.2,4.8,4.7,4.3,4.5,4.4,3.9,3.2
4,SE,3,Regi√£o Sudeste,9.3,8.6,8.1,7.5,8.7,8.3,8.3,...,9.6,8.4,9.4,9.1,8.4,7.7,8.2,7.7,6.9,6.4

‚ñ∂Ô∏è Dados: desemprego_medio_incompleto

,Sigla,C√≥digo,Regi√£o,2012 1¬∞ Trimestre,2012 2¬∞ Trimestre,2012 3¬∞ Trimestre,2012 4¬∞ Trimestre,2013 1¬∞ Trimestre,2013 2¬∞ Trimestre,2013 3¬∞ Trimestre,...,2022 3¬∞ Trimestre,2022 4¬∞ Trimestre,2023 1¬∞ Trimestre,2023 2¬∞ Trimestre,2023 3¬∞ Trimestre,2023 4¬∞ Trimestre,2024 1¬∞ Trimestre,2024 2¬∞ Trimestre,2024 3¬∞ Trimestre,2024 4¬∞ Trimestre
0,CO,5,Regi√£o Centro-oeste,10.3,10.6,9.0,8.7,10.6,10.1,8.8,...,11.8,11.0,11.6,8.5,9.5,9.1,10.5,8.9,8.0,8.0
1,N,1,Regi√£o Norte,15.5,14.2,13.7,12.2,15.2,14.1,12.0,...,11.4,13.2,13.5,10.5,11.8,12.5,12.3,10.5,10.1,10.4
2,NE,2,Regi√£o Nordeste,15.6,14.5,15.3,14.9,17.5,15.0,14.3,...,19.6,17.1,18.0,17.0,17.0,16.9,17.6,13.5,13.8,12.8
3,S,4,Regi√£o Sul,9.5,8.9,8.0,7.6,9.2,7.2,7.9,...,9.8,8.1,9.4,9.5,9.6,9.4,10.4,9.6,8.3,7.7
4,SE,3,Regi√£o Sudeste,13.9,13.3,12.6,12.2,13.5,13.5,13.4,...,16.5,15.2,17.0,15.2,14.3,13.3,14.3,12.0,10.9,10.3

‚ñ∂Ô∏è Dados: desemprego_superior_completo

,Sigla,C√≥digo,Regi√£o,2012 1¬∞ Trimestre,2012 2¬∞ Trimestre,2012 3¬∞ Trimestre,2012 4¬∞ Trimestre,2013 1¬∞ Trimestre,2013 2¬∞ Trimestre,2013 3¬∞ Trimestre,...,2022 3¬∞ Trimestre,2022 4¬∞ Trimestre,2023 1¬∞ Trimestre,2023 2¬∞ Trimestre,2023 3¬∞ Trimestre,2023 4¬∞ Trimestre,2024 1¬∞ Trimestre,2024 2¬∞ Trimestre,2024 3¬∞ Trimestre,2024 4¬∞ Trimestre
0,CO,5,Regi√£o Centro-oeste,4.9,4.6,4.4,3.7,4.9,4.3,4.0,...,3.3,3.8,4.6,3.6,2.7,3.4,3.6,3.5,2.7,2.9
1,N,1,Regi√£o Norte,4.8,4.9,4.9,4.3,5.2,4.8,4.6,...,5.1,4.3,5.3,4.6,4.4,4.7,4.6,4.8,4.4,4.0
2,NE,2,Regi√£o Nordeste,5.0,4.7,4.5,4.8,6.1,5.4,4.7,...,5.8,5.1,5.5,5.2,5.1,4.8,5.3,4.7,4.4,4.3
3,S,4,Regi√£o Sul,3.3,2.9,2.3,2.3,2.7,2.4,2.6,...,2.2,2.4,2.6,2.4,2.3,2.3,2.6,2.6,2.1,2.2
4,SE,3,Regi√£o Sudeste,4.2,3.6,3.3,3.2,4.4,4.0,3.6,...,4.2,4.0,4.6,3.8,3.3,3.5,4.1,3.5,3.1,3.2

‚ñ∂Ô∏è Dados: desemprego_superior_incompleto

,Sigla,C√≥digo,Regi√£o,2012 1¬∞ Trimestre,2012 2¬∞ Trimestre,2012 3¬∞ Trimestre,2012 4¬∞ Trimestre,2013 1¬∞ Trimestre,2013 2¬∞ Trimestre,2013 3¬∞ Trimestre,...,2022 3¬∞ Trimestre,2022 4¬∞ Trimestre,2023 1¬∞ Trimestre,2023 2¬∞ Trimestre,2023 3¬∞ Trimestre,2023 4¬∞ Trimestre,2024 1¬∞ Trimestre,2024 2¬∞ Trimestre,2024 3¬∞ Trimestre,2024 4¬∞ Trimestre
0,CO,5,Regi√£o Centro-oeste,7.4,6.9,6.4,8.0,9.1,8.0,7.3,...,6.9,7.1,9.7,7.8,6.3,6.6,8.6,7.0,6.7,6.0
1,N,1,Regi√£o Norte,10.3,8.7,8.4,9.0,11.3,10.2,9.8,...,11.0,12.3,12.1,11.9,9.9,8.7,10.2,8.3,8.3,7.8
2,NE,2,Regi√£o Nordeste,10.5,9.9,9.4,10.1,12.5,10.9,9.0,...,11.6,11.3,12.9,10.1,12.2,10.9,11.1,8.8,10.7,8.8
3,S,4,Regi√£o Sul,6.3,4.9,4.5,4.1,5.0,4.6,5.7,...,4.8,4.8,5.1,4.6,5.1,4.7,6.3,5.0,4.3,3.9
4,SE,3,Regi√£o Sudeste,7.8,8.4,7.5,6.8,7.9,7.3,7.9,...,9.8,8.3,8.6,8.6,8.1,7.3,9.0,6.9,6.8,6.7

‚ñ∂Ô∏è Dados: desemprego_sem_instrucao

,Sigla,C√≥digo,Regi√£o,2012 1¬∞ Trimestre,2012 2¬∞ Trimestre,2012 3¬∞ Trimestre,2012 4¬∞ Trimestre,2013 1¬∞ Trimestre,2013 2¬∞ Trimestre,2013 3¬∞ Trimestre,...,2022 3¬∞ Trimestre,2022 4¬∞ Trimestre,2023 1¬∞ Trimestre,2023 2¬∞ Trimestre,2023 3¬∞ Trimestre,2023 4¬∞ Trimestre,2024 1¬∞ Trimestre,2024 2¬∞ Trimestre,2024 3¬∞ Trimestre,2024 4¬∞ Trimestre
0,CO,5,Regi√£o Centro-oeste,5.7,4.0,5.3,4.5,5.0,4.6,4.7,...,7.6,4.5,4.3,4.3,1.8,4.0,4.2,3.7,4.7,5.6
1,N,1,Regi√£o Norte,3.5,3.4,1.8,2.5,3.2,3.9,2.8,...,5.9,5.7,5.1,5.3,3.5,4.3,4.1,3.3,3.8,5.2
2,NE,2,Regi√£o Nordeste,4.6,5.1,5.4,5.9,7.2,5.5,5.1,...,8.7,8.0,8.4,7.5,7.4,6.7,6.8,6.5,6.3,6.9
3,S,4,Regi√£o Sul,2.8,5.6,4.1,3.3,4.4,3.1,3.1,...,5.5,2.2,4.5,4.3,4.2,5.8,6.3,6.3,5.7,4.1
4,SE,3,Regi√£o Sudeste,5.7,4.5,4.4,4.3,5.7,5.7,4.6,...,7.9,8.4,5.8,5.6,7.6,6.5,6.9,5.1,6.0,5.5